html {
    background: none;
}

body {
    height: 100%;
    width: 100%;
    background: fixed #000 url(./images/backgroundwood.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.columns {
    margin-top: 50px;
    gap: 50px;
}

#firstBox {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    box-shadow: 0px 0px 10px;
}

#secondBox {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 0px 10px;

}

.navbar {
    background-image: linear-gradient(to left top, rgb(200, 196, 81), rgb(104, 178, 235));
    justify-content: center;

}

.navbar-item {
    font-size: 100px;
    color: blue;
    font-family: lobster;
    text-shadow: 2px 2px 5px yellow;
    justify-content: center;
}

img {
    border-radius:8px;
    width: 300px;
    height: 300px;
  }

hr {
    background-color: black;
}

span.deleteicon {
    position: relative;
    display: inline-flex;
    align-items: center;
}

span.deleteicon span {
    position: absolute;
    display: block;
    right: 3px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    color: #fff;
    background-color: #ccc;
    font: 13px monospace;
    text-align: center;
    line-height: 1em;
    cursor: pointer;
}

.box {
    float: left;
}
span.deleteicon input {
    padding-right: 18px;
    box-sizing: border-box;
}

@media screen and (max-width: 992px) {
    .navbar-item {
     font-size: 100px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .navbar-item {
        font-size: 75px;
    }
    }
  
  @media screen and (max-width: 576px) {
    .navbar-item {
      font-size: 50px;
    }
  }